body {
    background-color: #212529; /* Dark background */
    color: #ffffff; /* Text color */
  }
  
  .card {
    background-color: #ffffff; /* White background for cards */
    color: #212529; /* Dark text color */
  }
  
  .w-45 {
    width: 45%;
  }
  

  /* Untuk mengatur logo di tombol */
button img {
    width: 20px;
    height: 20px;
  }
  
  .form-check {
    margin-bottom: 15px;
  }
  
  .form-check-label {
    font-size: 1.1rem;
    color: #2c3e50;
  }
  
  .form-check-input:checked {
    background-color: #f39c12;
    border-color: #f39c12;
  }
  